html {
  overflow: hidden;
}

body {
  margin: 0;
}

.home {
  font-family: Verdana;
  text-align: center;
  position: relative;
  height: 100vh;
}

.coord {
  font-family: Verdana;
  text-align: center;
}

.calendar {
  font-family: Verdana;
  text-align: center;
}

.tresure {
  font-family: Verdana;
  text-align: center;
}

.test {
  font-family: Verdana;
  text-align: center;
}

.student {
  font-family: Verdana;
  text-align: center;
}

.menuButtonsAlign {
  display: flex;
  justify-content: space-around;
}

.alertButtonsAlign {
  display: flex;
  justify-content: space-between;
}

.menuButton {
  font-family: Verdana;
  text-align: center;
  padding: 15px;
  width: 200px;
  margin: 10px;
  background-color: #a83234;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.alertButton {
  font-family: Verdana;
  text-align: center;
  padding: 5px;
  background-color: #a83234;
  color: #ffffff;
}

.navigationButton {
  font-family: Verdana;
  text-align: center;
  padding: 5px;
  background-color: #e3e3e3;
  color: #000000;
  cursor: pointer;
}

.orderedList {
  list-style: none;
  text-align: left;
}

.popupAlerts {
  position: absolute;
  top: 15%;
  left: 15%;
  height: 165px;
  border: 1px solid black;
  background-color: white;
  width: 70%;
}

.alertForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.alertLabel {
  font-family: Verdana;
  font-size: 14px;
  padding: 5px;
}

.PopupInput {
  font-family: Verdana;
  height: 100px;
  width: 80%;
}

.popupCloseButton {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px;
  cursor: pointer;
}

.alertFormContainer {
  position: relative;
  height: 100%;
  width: 100%;
}
