.home {
  font-family: Verdana;
  text-align: center;
}

.coord {
  font-family: Verdana;
  text-align: center;
}

.menuButtonsAlign {
  display: flex;
  justify-content: space-around;
}

.alertButtonsAlign {
  display: flex;
  justify-content: space-between;
}

.menuButton {
  font-family: Verdana;
  text-align: center;
  padding: 15px;
  width: 200px;
  margin: 10px;
  background-color: #a83234;
  color: #ffffff;
  font-weight: bold;
}

.PopupInput {
  font-family: Verdana;
  width: 1000px;
}

.alertButton {
  font-family: Verdana;
  text-align: center;
  padding: 5px;
  background-color: #a83234;
  color: #ffffff;
}

.navigationButton {
  font-family: Verdana;
  text-align: center;
  padding: 5px;
  background-color: #e3e3e3;
  color: #000000;
}

.orderedList {
  list-style: none;
  text-align: left;
}
